<div class="form-row">
    <!-- KKal -->
    <div class="nutrient col-sm-3">
        <div class="content d-flex px-2 justify-content-between">
            <small>Кк:</small>
            <label> {{round(kkal)}}</label>
        </div>
    </div>
    <!-- Protein -->
    <div class="nutrient col-sm-3">
        <div class="content d-flex px-2 justify-content-between">
            <small>Б:</small>
            <label> {{round(protein)}}</label>
        </div>
    </div>
    <!-- Fat -->
    <div class="nutrient col-sm-3">
        <div class="content d-flex px-2 justify-content-between">
            <small>Ж:</small>
            <label> {{round(fat)}}</label>
        </div>
    </div>
    <!-- Carbon -->
    <div class="nutrient col-sm-3">
        <div class="content d-flex px-2 justify-content-between">
            <small>У:</small>
            <label> {{round(carbon)}}</label>
        </div>
    </div>
</div>