@import "regime.scss";
.day.active {    
    // background-color: map-get($theme-colors, "active");
    // background-color: var(--primary);
    background-color: theme-color("card");
    border: 1px solid theme-color("card-border");
    border-radius: 3px;
    color: black;
}

.nutrient-kk {    
    position: relative;
    .good {
        background-color: lightgreen;
    }
    .average {
        background-color: yellow;        
    }
    .bad {
        background-color: red;
    }  
}