<div class="form-row">
    <!-- KKal -->
    <div class="col-sm-3">
        <input class="form-control form-control-sm" type="text" disabled="true" [value]="'ККал: ' + round(kkal)" />
    </div>
    <!-- Protein -->
    <div class="col-sm-3">
        <input class="form-control form-control-sm" type="text" disabled="true" [value]="'Б: ' + round(protein)"/>
    </div>
    <!-- Fat -->
    <div class="col-sm-3">
        <input class="form-control form-control-sm" type="text" disabled="true" [value]="'Ж: ' + round(fat)"/>
    </div>
    <!-- Carbon -->
    <div class="col-sm-3">
        <input class="form-control form-control-sm" type="text" disabled="true" [value]="'У: ' + round(carbon)"/>
    </div>
</div>