<div *ngIf="dayModel?.id">
    <div class="card border-primary m-3">
        <div class="card-header">
            <span>Редактирование {{dayModel?.caption$ | async}}</span>
        </div>
        <div class="card-body text-primary" style="max-height: 45vh; overflow-y: auto;">
            <div class="card-text pr-3">
                <form novalidate [formGroup]="form">

                    <div class="form-row">
                        <!-- Caption -->
                        <div class="form-group col-sm-6">
                            <label for="captionCtrl">Наименование:</label>
                            <input formControlName="caption" type="text" class="form-control" id="captionCtrl" />
                            <!-- TODO -->
                            <small [hidden]="true" id="captionHelp" class="form-text text-danger col-sm-10">Введите
                                наименование дня</small>
                        </div>

                        <!-- Caption -->
                        <div class="form-group col-sm-6">
                            <label for="kkalCtrl">Лимит ККал:</label>
                            <input formControlName="kkal" type="number" class="form-control" id="kkalCtrl"
                                aria-describedby="kkalHelp" />
                        </div>
                    </div>

                    <div formArrayName="mealTypeArray" *ngFor="let group of (mealTypeArray$ | async)?.controls; let i = index"
                        class="meal-item" [ngClass]="{ active: group.value.id == selectedMealId }"
                        (click)="selectMeal(group.value.id)">
                        <div [formGroupName]="i" class="d-flex">

                            <!-- day item row -->
                            <rg-ration-day-item-row class="flex-grow-1 ml-2" [mealTypes]="mealTypes$ | async"
                                [currentMealTypeId]="group.value.mealTypeId"
                                [model]="group.value.mealModel">
                            </rg-ration-day-item-row>

                            <!-- Delete mealType button -->
                            <button type="button" class="btn btn-primary btn-sm align-self-center mr-2"
                                (click)="removeMealType(i)">
                                <i class="fas fa-folder-minus"></i>
                            </button>
                        </div>
                    </div>                
                </form>
            </div>
        </div>

        <!-- Add RationDay button -->
        <div class="position-sticky ml-3 mb-3" style="bottom:15px;">
            <button type="button" class="btn btn-primary btn-sm" (click)="addNewMealType()">
                <i class="fas fa-folder-plus mr-1"></i>Добавить прием пищи
            </button>
        </div>
    </div>
</div>