<div class="card border-primary m-3">
    <div class="card-header">
        <div *ngIf="dayMutable?.id | ifEmpty; else editBlock">
            <span>Добавление нового блюда</span>
        </div>
        <ng-template #editBlock>
            <span>Редактирование {{dayMutable?.caption}}</span>
        </ng-template>
    </div>
    <div class="card-body text-primary">
        <div class="card-text pr-3">
            <form novalidate (ngSubmit)="saveRationDay()" [formGroup]="form">

                 <!-- Caption -->
                <div class="form-group">
                    <label for="captionCtrl">Наименование</label>
                    <input #caption formControlName="caption" type="text"
                        class="form-control" id="captionCtrl" aria-describedby="captionHelp" />
                    <!-- TODO -->
                    <small [hidden]="false" id="captionHelp"
                        class="form-text text-danger col-sm-10">Введите наименование блюда</small>
                </div>

                <div formArrayName="mealTypeArray" *ngFor="let group of mealTypeArray.controls; let i = index"
                        class="meal-item"
                        [ngClass]="{ active: group.value.id == selectedMealId }"
                        (click)="selectMeal(group.value.id)">
                    <div [formGroupName]="i" class="d-flex">
                       
                        <!-- day item row -->
                        <rg-ration-day-item-row class="flex-grow-1" [mealTypes]="mealTypes"
                            [currentMealType]="group.value.mealType"
                            (mealTypeChanged)="mealTypeChanged(i, $event)">
                        </rg-ration-day-item-row>

                        <!-- Delete mealType button -->
                        <button type="button" class="btn btn-primary btn-sm align-self-start" (click)="removeMealType(i)">
                            <i class="fas fa-folder-minus"></i>
                        </button>
                    </div>
                </div>

                <!-- Total Row -->
                <div>
                    <!-- Add mealType button -->
                    <button type="button" class="btn btn-primary ml-3 btn-sm"
                    (click)="addNewMealType()" [disabled]="addNewButtonDisabled">
                        <i class="fas fa-folder-plus mr-1"></i>Добавить ингредиент
                    </button>
                </div>

                <div class="form-row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary" [disabled]="!form.valid || !form.dirty || addNewButtonDisabled">
                            Save
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary" (click)="deleteClicked()">
                            Delete
                        </button>
                    </div>
                    <div class="col-auto">
                        <button [routerLink]="'../all'" class="btn btn-secondary">
                            Back
                        </button>
                    </div>
                </div>
                <div class="form-row">
                    <small class="form-text text-danger col-auto">{{deleteStatus}}</small>
                </div>
            </form>
        </div>
    </div>
</div>
