<div class="form-row">
    <!-- Dishes -->
    <div class="list-group col-sm-5">
        <mat-form-field>
            <mat-select [compareWith]="compareFn" [value]="currentDish"
                (selectionChange)="selectionChanged($event.value)">
                <mat-option *ngFor="let dish of dishes" [value]="dish">
                    {{dish?.caption}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Gramm -->
    <div class="col-sm-1">
        <input class="form-control form-control-sm" [(ngModel)]="weight" 
            placeholder="Вес..." type="number" />
    </div>

    <!-- Range -->
    <div class="col-sm-2">
        <input type="range" class="form-control form-control-sm form-control-range" 
        [(ngModel)]="weight" min="0"
            max="4" step="0.25">
    </div>

    <!-- Nutrients -->
    <rg-dish-nutrients class="col-sm-4" [kkal]="model?.totalKkal$ | async"
        [protein]="model?.totalProtein$ | async" [fat]="model?.totalFat$ | async"
        [carbon]="model?.totalCarbon$ | async"></rg-dish-nutrients>
        
</div>
