<div class="card border-primary m-3">
    <div class="card-header">
        <div *ngIf="dishExt?.id | ifEmpty; else editBlock">
            <span>Добавление нового блюда</span>
        </div>
        <ng-template #editBlock>
            <span>Редактирование {{dishExt?.caption}}</span>
        </ng-template>
    </div>
    <div class="card-body text-primary">
        <div class="card-text pr-3">
            <form novalidate (ngSubmit)="saveDish()" [formGroup]="dishForm">

                <!-- Caption -->
                <div class="form-group">
                    <label for="captionCtrl">Наименование</label>
                    <input #dishCaption formControlName="caption" #captionInputRef type="text" class="form-control"
                        id="captionCtrl" aria-describedby="captionHelp" />
                    <!-- TODO -->
                    <small [hidden]="false" id="captionHelp" class="form-text text-danger col-sm-10">Введите
                        наименование блюда</small>
                </div>


                <div formArrayName="ingredientArray" *ngFor="let group of ingredientArray.controls; let i = index">
                    <div [formGroupName]="i" class="d-flex">

                        <!-- dish item row -->
                        <rg-dish-item-row class="flex-grow-1" [ingredients]="ingredients$ | async"
                            [currentIngredient]="group.value.ingredient" [weight]="group.value.weight">
                        </rg-dish-item-row>

                        <!-- Delete ingredient button -->
                        <button type="button" class="btn btn-primary btn-sm mx-3 mb-3" (click)="removeIngredient()">
                            <i class="fas fa-folder-minus"></i>
                        </button>
                    </div>
                </div>


                <!-- Total Row -->
                <div class="d-flex">
                    <div class="form-row flex-grow-1">
                        <!-- Add ingredient button -->
                        <div class="form-group col-sm-2">
                            <button type="button" class="btn btn-primary ml-3 btn-sm" (click)="addIngredient()">
                                <i class="fas fa-folder-plus mr-1"></i>Добавить ингредиент
                            </button>
                        </div>

                        <!-- space -->
                        <div class="col-sm-6" style="text-align: right;">Всего:</div>

                        <!-- dish item row -->
                        <rg-dish-nutrients class="col-sm-4"></rg-dish-nutrients>
                    </div>

                    <!-- space -->
                    <div class="btn btn-primary btn-sm mx-3 mb-3" style="visibility: hidden;">
                        <i class="fas fa-folder-minus"></i>
                    </div>
                </div>

                <!-- Comment -->
                <div class="form-group">
                    <label for="commentCtrl">Комментарий</label>
                    <textarea formControlName="comment" #commentInputRef type="text" class="form-control"
                        id="commentCtrl" aria-describedby="commentHelp" rows="4">
                    </textarea>
                </div>

                <div class="form-row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary" [disabled]="!dishForm.valid">
                            Save
                        </button>
                    </div>
                    <div class="col-auto">
                        <button [routerLink]="'../all'" class="btn btn-secondary">
                            Back
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>