<div class="card border-primary m-3">
    <div class="card-header">
        <div *ngIf="dish?.id | ifEmpty; else editBlock">
            <span>Добавление нового блюда</span>
        </div>
        <ng-template #editBlock>
            <span>Редактирование {{dish?.caption}}</span>
        </ng-template>
    </div>
    <div class="card-body text-primary">
        <div class="card-text pr-3">
            <form novalidate (ngSubmit)="saveDish()" [formGroup]="dishForm">

                <!-- Caption -->
                <div class="form-group">
                    <label for="captionCtrl">Наименование</label>
                    <input #dishCaption formControlName="caption" #captionInputRef type="text" class="form-control"
                        id="captionCtrl" aria-describedby="captionHelp" />
                    <!-- TODO -->
                    <small [hidden]="false" id="captionHelp" class="form-text text-danger col-sm-10">Введите
                        наименование блюда</small>
                </div>


                <div formArrayName="ingredientArray"
                    *ngFor="let ingredientGroup of ingredientArray.controls; let i = index">
                    <div [formGroupName]="i" class="form-row">

                        <!-- Ingredient -->
                        <div *ngIf="ingredients$ | async as ingredients" class="remove-border list-group col-sm-4">
                            <mat-form-field id="fuck">
                                <mat-select formControlName="selector" name="ingredient" [compareWith]="compareFn">
                                    <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient">
                                        {{ingredient.caption}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!-- Gramm -->
                        <div class="col-sm-1">
                            <input class="form-control form-control-sm" formControlName="weight" placeholder="Вес..." type="text" id="{{'weightCtrl'+i}}" />
                        </div>

                        <!-- Range -->
                        <div class="col-sm-2">
                            <input type="range" class="form-control form-control-sm form-control-range" id="{{'fcr'+i}}">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary ml-3 btn-sm" (click)="addIngredient()">
                        <i class="fas fa-folder-plus mr-1"></i>Добавить ингредиент
                    </button>
                </div>

                <!-- Comment -->
                <div class="form-group">
                    <label for="commentCtrl">Комментарий</label>
                    <textarea formControlName="comment" #commentInputRef type="text" class="form-control"
                        id="commentCtrl" aria-describedby="commentHelp" rows="4">
                    </textarea>
                </div>

                <div class="form-row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary" [disabled]="!dishForm.valid">
                            Save
                        </button>
                    </div>
                    <div class="col-auto">
                        <button [routerLink]="'../all'" class="btn btn-secondary">
                            Back
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>