@import "global-vars";
@import "regime.scss";

.template-content {
  .table-header {
    margin-left: 16px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    h4 {
      display: inline;
    }
    
    .header {
      display: flex;
      align-items: center;
    }

    .search-bar {
      display: flex;

      input {
        width: 196px;

        @media (min-width: 1920px) {
          width: 302px;
        }
      }
    }
  }

  .table-container {    
    margin-top: 8px;

    table {     
      line-height: 17px;
      width: 100%;

      %mat-column {
        word-wrap: break-word;
        white-space: unset;
        overflow-wrap: break-word;
        word-wrap: break-word;      
        word-break: break-word;      
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
     
      .mat-column-caption {
        @extend %mat-column;
        flex: 6 1 500px;
        width: 500px;
      }

      tr.mat-header-row {
        height: 35px;        
        background-color: theme-color("back");
      }

      tr.template-row.mat-footer-row,
      tr.template-row.mat-row {
        height: 40px;
        cursor: pointer;
      }
      
    }
  }
}