<div class="container">
    <div class="row" style="height: 30vh">
        <div class="col-sm-5" style="height: 95%; overflow-y: auto">
            <rg-days-provider></rg-days-provider>
        </div>
        <div class="col-sm-6" style="height: 95%; overflow-y: auto">
            <rg-days-item></rg-days-item>
        </div>
    </div>
    <div class="row" style="height: 30vh">
        <div class="col-sm-11" style="height: 95%; overflow-y: auto">
            <rg-meal-item></rg-meal-item>
        </div>
    </div>    
</div>
<footer class="fixed-bottom m-2">This is sticky!</footer>