<div class="ingredients-content">

    <div class="table-header">        
        <header>
            <h4>
                Ingredients {{applyedFilter == "" ? "" : "(" + applyedFilter + ")"}}
            </h4>
            <button type="button" class="btn btn-primary ml-3 btn-sm"
                [routerLink]="['../edit', {id: ''}]">
                <i class="fas fa-folder-plus mr-1"></i>Добавить
            </button>
        </header>        
        <div class="search-bar">
            <input placeholder="Search for ingredient..." [value]="applyedFilter"
            (keyup)="filterStringChanged.emit($event.target.value)">
        </div>
    </div>

    <div class="table-container">

        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">                    
                    <button type="button" class="btn btn-primary btn-sm" [routerLink]="['../edit', {id: element.id}]">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>                    
                </td>
            </ng-container>

            <ng-container matColumnDef="caption">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Наименование </th>
                <td mat-cell *matCellDef="let element"> {{element.caption}} </td>
            </ng-container>

            <ng-container matColumnDef="kkal100">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> ККал / 100 г </th>
                <td mat-cell *matCellDef="let element"> {{element.kkal100}} </td>
            </ng-container>

            <ng-container matColumnDef="protein100">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Белков / 100 г </th>
                <td mat-cell *matCellDef="let element"> {{element.protein100}} </td>
            </ng-container>

            <ng-container matColumnDef="fat100">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Жира / 100 г </th>
                <td mat-cell *matCellDef="let element"> {{element.fat100}} </td>
            </ng-container>

            <ng-container matColumnDef="carbon100">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Углевовод / 100 г </th>
                <td mat-cell *matCellDef="let element"> {{element.carbon100}} </td>
            </ng-container>

            <ng-container matColumnDef="comment">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Комментарий </th>
                <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
            </ng-container>            

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="ingredients-row"></tr>
            
        </table>

    </div>

</div>