<div class="form-row d-flex align-items-center">
    <!-- MealType -->
    <div class="list-group col-sm-3">
        <mat-form-field>
            <mat-select [compareWith]="compareFn" [value]="currentMealType"
                (selectionChange)="selectionChanged($event.value)">
                <mat-option *ngFor="let mealType of mealTypes" [value]="mealType">
                    {{mealType?.caption}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-sm-9 pr-3">        
        <rg-alt-meal-nutrients [model]="model" [mealType]="currentMealType"></rg-alt-meal-nutrients>
    </div>
</div>