<nav class="navbar navbar-light navbar-expand-md fixed-top mb-3" style="background-color: #e3f2fd;">
    <a class="navbar-brand">Regime</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" 
    [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">            
            <li class="nav-item">
                <a href="" class="nav-link" [routerLink]="['/home/days']"
                    routerLinkActive="active">Days</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" [routerLink]="['/home/dishes']" routerLinkActive="active">Dishes</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" [routerLink]="['/home/ingredients']"
                    routerLinkActive="active">Ingredients</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" [routerLink]="['/home/meal-types']"
                    routerLinkActive="active">Meal types</a>
            </li>
        </ul>
        <span class="navbar-text">
            <a href="" class="nav-link" [routerLink]="['/home/report']"
                    routerLinkActive="active"><strong>Report</strong></a>            
        </span>
    </div>
</nav>

<router-outlet></router-outlet>