<h1 class="display-4 my-3">The Regime begins</h1>
<nav class="navbar navbar-light navbar-expand-md mb-3" style="background-color: #e3f2fd;">
    <a class="navbar-brand">Regime</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" 
    [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="" class="nav-link" [routerLink]="['/home/main']" routerLinkActive="active">Main <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" [routerLink]="['/home/dishes']" routerLinkActive="active">Dishes</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" [routerLink]="['/home/ingredients']"
                    routerLinkActive="active">Ingredients</a>
            </li>
        </ul>
        <span class="navbar-text">
            Choose your destiny
        </span>
    </div>
</nav>


<router-outlet></router-outlet>